body{
    background-color: #F6A844;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Open Sans Condensed' , sans-serif;
    padding-top: 2em;
    color: white;
    
}

p{
    
    font-size: 20px;
    font-family: 'Open Sans Condensed' , sans-serif;
    color:#B77D7C;
    font-weight: bold;
}

#firstdiv{
   display:flex;
   justify-content: center;
}


#seconddiv{
    display: flex;
    justify-content: center;
    
}

#button{
    font-family:'Open Sans Condensed' , sans-serif;
    margin-left: 10px;
    background-color: white;
    border-radius: 20%;
    border: 2px solid black;
    
}





 #thirddiv{
     
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    justify-content: center;
 }

 #fourthdiv{
  justify-content: center;
    

 }


 
 #button2{
    font-family:'Open Sans Condensed' , sans-serif;
    font-size: 15px;
    margin-left: 10px;
    background-color: white;
    border-radius: 20%;
    border: 2px solid black;

 }

 #fifthdiv{
    display: flex;
    justify-content: center;


 }

#elementdialogue{
top: 0;
left: 0;
position: fixed;
width: 100%;
height: 100%;
z-index: -1;




}

 #boitedialogue{
     display: flex;
     justify-content: center;
     font-family:'Open Sans Condensed' , sans-serif;
     width: 500px;
     height: 250px;
     background-color: white;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius:  10px;
     padding:15px;
     text-align:center;
     font-weight: bold;
     font-size: 15px;
     border: 3px solid #B77D7C;  
     align-items: center;
         
 }

 

