body{
    background-color: #F6A844;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Open Sans Condensed' , sans-serif;
    padding-top: 2em;
    color: white;
    
}

p{
    
    font-size: 20px;
    font-family: 'Open Sans Condensed' , sans-serif;
    color:#B77D7C;
    font-weight: bold;
}

#firstdiv{
   display:flex;
   justify-content: center;
}


#seconddiv{
    display: flex;
    justify-content: center;
    
}

#button{
    font-family:'Open Sans Condensed' , sans-serif;
    margin-left: 10px;
    background-color: white;
    border-radius: 10%;
    border: 2px solid black;
    
}





#thirddiv{
     
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    justify-content: center;
 }

#fourthdiv{
  justify-content: center;
    

 }


 
#button2{
    font-family:'Open Sans Condensed' , sans-serif;
    font-size: 15px;
    margin-left: 10px;
    background-color: white;
    border-radius: 10%;
    border: 2px solid black;

 }

#fifthdiv{
    display: flex;
    justify-content: center;


 }

#elementdialogue{
top: 200px;
position: fixed;
width: 100%;
height: 100%;
z-index: -1;
display: flex;
justify-content: center;



}

#boitedialogue{
    
     font-family:'Open Sans Condensed' , sans-serif;
     width: 500px;
     height: 250px;
     background-color:#B77D7C;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius:  10px;
     padding:15px;
     font-weight: bold;
     font-size: 15px;
     border: 8px solid white;  
     align-items: center;
         
 }

#button3{
    font-family:'Open Sans Condensed' , sans-serif;
    font-size: 15px;
    margin-left: 480px;
    background-color: white;
    border-radius: 10%;
    border: 2px solid black;
    
    
}
 

#textedialogue{
    text-align: center;
    padding-top: 80px;
    
}

#bonjourprenom2{
    text-align: center;
    font-size: 60px;
    

}

#bonjourprenom3{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#croix{

    margin-bottom: 80%;
}

